html {
  scroll-behavior: smooth;
}

section {
  padding-top: 1rem;
  margin-block-start: 0 !important;
}

.nav-header {
  text-align: left;
  padding: 0.9rem 0;
}
.summary-info {
  padding: 1.5rem;
}
.summary-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}
.nav-rail {
  align-items: stretch !important;
}
.nav-rail-link {
  justify-content: flex-start;
}
.skills-segmented {
  overflow-x: scroll;
}
.skills-segmented > nav > button {
  flex: 1;
}
.skills-content {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.skills-content:not(.active) {
  visibility: hidden;
}
.skills-content > button {
  margin: 0;
}
.bullet-points {
  margin: 1rem 0 0.5rem;
}
.position-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}
#download-cv-fab {
  display: none;
  position: fixed;
  right: 1rem;
  bottom: calc(5.5rem + env(safe-area-inset-bottom));
}

#download-cv-fab:not(.active):hover {
  --_padding: 0;
  padding: 0;
  inline-size: var(--_size);
}

#download-cv-fab:not(.active):hover::after {
  background-size: inherit;
  opacity: 1;
}

#download-cv-fab:not(.active):hover > span {
  display: none;
}

#download-cv-fab.active {
  border-radius: 1rem !important;
}

@media (max-width: 993px) {
  #photo {
    display: none;
  }
  #download-cv-fab {
    display: inline-flex;
  }
}

@media (max-width: 812px) {
  .skills-segmented > nav > button > span {
    display: none;
  }
}

@media (max-width: 431px) {
  h1 {
    font-size: 2.8125rem !important;
  }
  .summary-info {
    padding: 0;
  }
}
